body{
    background-color: rgb(236, 242, 248);
    margin: 0;

}
.Project{
    display: flex;
    justify-content: space-evenly;
}    

.Button{
    display: flex;
    justify-content: right;
}
.button{
    justify-content: space-evenly;
    background-color: rgb(11,11,49);
    margin: 55px 2px 2px 2px;
    padding: 0 15px;
    color: white; 
    border-radius: 2px;
    height: 25px;
    
}
.logo{
    background-color:rgb(236, 242, 248);
}
.flexContainer{
    display: flex;
    text-align: left;
    margin: 2px;

    
}

.flexbox1{
    border: 2px solid gray;
    padding-left: 15px;
    padding-right: 5px;

}
.flexbox2{
    border: 2px solid grey;
}
.flexbox3{
    border: 2px solid grey;
}
.buttoncontainer{
    display: flex;
}
.middle{
    margin: auto 50%;
}
.bottombutton{
    justify-content: space-evenly;
    background-color: rgb(11,11,49);
    margin: 55px 2px 2px 2px;
    padding: 0 15px;
    color: white; 
    border-radius: 2px;
    height: 25px;
}